In [19]:
import random
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from collections import Counter

<div class="alert alert-info" role="alert">
  <span style="font-size: larger;"><strong>1. Generating customers.csv</strong></span>
</div>

In [20]:
#phone number heads with cites and provines list 
phone_number_heads = ["011","012","017","061","076","077","078","079","085","089","092","095","099",
                      "010","015","016","069","070","081","086","087","093","098","096","031","060",
                      "066","067","068","071","088","090","097","013","080","083","084","038","018"]
cities_and_provinces = ["Banteay Meanchey","Battambang","Kampong Cham","Kampong Chhnang","Kampong Speu",
                        "Kampong Thom","Kampot","Kandal","Koh Kong","Kratie","Mondulkiri","Oddar Meanchey",
                        "Pailin","Preah Sihanouk","Preah Vihear","Pursat","Ratanakiri","Siem Reap",
                        "Stung Treng","Svay Rieng","Takeo","Kep","Phnom Penh","Prey Veng","Tboung Khmum"]

#family names and surnames list
family_names = ['Heng','Kong','Lim','Mao','Ngoun','Ouk','Pich','Rath','Sam','Seng','Suon','Tang','Thach',
                'Thay','Theng','Thy','Tith','Toch','Tol','Ung','Vann','Vong','Yin','Yon','You','Yun','Kim',
                'Keo','Chea','Chhay','Chhim','Chan','Chuon']
sur_names = first_names = ['Sok','Dara','Srey','Sophea','Chan','Sokha','Sokhom','Thida','Rathana','Sokun',
                           'Nita','Rina','Chhun','Vanna','Sopheap','Sovann','Sovanna','Ravy','Sovan','Ratanak',
                           'Sreyneang','Visal','Sokchea','Narin','Rithy','Piseth','Bopha','Sreytouch','Monineath',
                           'Veasna','Chenda','Rina']

#generating the list of the phone numbers and the list of names
phoneNumber_list = []
for i in range(1000):
    if random.random() < 0.1:
        phoneNumber = np.nan
    else:
        phoneNumber = (random.choice(phone_number_heads) + " " + str(random.randint(1, 100)).zfill(3) + " " + str(random.randint(1, 100)).zfill(3))
        while phoneNumber in phoneNumber_list:
            phoneNumber = (random.choice(phone_number_heads) + " " + str(random.randint(1, 100)).zfill(3) + " " + str(random.randint(1, 100)).zfill(3))
    phoneNumber_list.append(phoneNumber)
    
customerName_list = []
for i in range(1000):
    name = random.choice(family_names) + " " + random.choice(sur_names)
    while name in customerName_list:
        name = random.choice(family_names) + " " + random.choice(sur_names)
    customerName_list.append(name)

#dictionary for customer data
data_customers = {
    "CusID": random.sample(range(1, 1001), 1000),
    "CusName": customerName_list,
    "Gender": [random.choice(["M", "F", np.nan]) if random.random() < 0.1 else random.choice(["M", "F"]) for i in range(1000)],
    "PhoneNumber": phoneNumber_list,
    "Address": [np.nan if random.random() < 0.1 else random.choice(cities_and_provinces) for i in range(1000)]
}


#create the DataFrame
df_customers = pd.DataFrame(data_customers)

#get all the unique CusID
unique_cusids = df_customers['CusID'].unique().tolist()

#repeat the process 20 times to insert duplicates
for i in range(20):
    #randomly select a CusID from the unique list
    random_cusid = random.choice(unique_cusids)
    random_row_data = df_customers[df_customers['CusID'] == random_cusid].iloc[0].to_dict()
    
    #append the randomly selected row data back to the DataFrame using pd.concat
    df_customers = pd.concat([df_customers, pd.DataFrame([random_row_data])], ignore_index=True)

#reset the index
df_customers.reset_index(drop=True, inplace=True)
df_customers.to_csv("messy_data\customers.csv", index=False)
df_customers

      CusID       CusName Gender  PhoneNumber       Address
0       955  Chan Sovanna      F  013 057 100         Takeo
1       391     Vong Dara      F  084 049 005           Kep
2       847   Theng Vanna    NaN          NaN        Pursat
3       854      Thy Dara      F  093 088 039  Kampong Cham
4        59  Thach Veasna      M  069 028 038         Takeo
...     ...           ...    ...          ...           ...
1015   1000  Thach Chenda      F  083 081 081        Kandal
1016    635  Vann Ratanak      F  010 048 080    Ratanakiri
1017    960    Theng Chan      M  090 010 054  Tboung Khmum
1018    241   Ung Ratanak      M          NaN           NaN
1019    290      Ung Srey      M  096 035 002   Stung Treng

[1020 rows x 5 columns]

<div class="alert alert-info" role="alert">
  <span style="font-size: larger;"><strong>2. Generating shirts.csv</strong></span>
</div>

In [21]:
#all the colors and sizes list and find the the number of all the possible combination that we can make from the list
color_list = ["red", "blue", "black", "grey", "white", "purple", "brown", "orange", "yellow"]
size_list = ["S", "M", "L", "XL", "XXL"]
distinct_shirt = len(color_list) * len(size_list)

#generate the color and the size and ensure each one is unique combination for each shirt
colorAndSize_list = []
for i in range(distinct_shirt):
    color = random.choice(color_list)
    size = random.choice(size_list)
    while [color, size] in colorAndSize_list:
        color = random.choice(color_list)
        size = random.choice(size_list)
    colorAndSize_list.append([color, size])

#dictionary the shirts data
data_shirts = {
    "ShirtID" : [i + 1 for i in range(distinct_shirt)],
    "Color" : [colorAndSize_list[i][0] for i in range(distinct_shirt)],
    "Size" : [colorAndSize_list[i][1] for i in range(distinct_shirt)],
    "StockQty": [random.randrange(20, 91, 5) for i in range(distinct_shirt)],
    "UnitPrice": [random.randint(1, 11) for i in range(distinct_shirt)],
    "Discount": [round(random.uniform(0.1, 0.5), 1) for i in range(distinct_shirt)],
    "ShopID" : [random.randint(1, 5) for i in range(distinct_shirt)]
}

#modify values to add outliers to StockQty
outliers_count = 10  # Number of outliers to add
for i in range(outliers_count):
    index_to_modify = random.randint(0, distinct_shirt - 1)
    data_shirts["StockQty"][index_to_modify] = random.randint(200, 500)

#modify values to add outliers to UnitPrice
for i in range(outliers_count):
    index_to_modify = random.randint(0, distinct_shirt - 1)
    data_shirts["UnitPrice"][index_to_modify] = random.randint(50, 100)

#create DataFrame and export as csv
df_shirts = pd.DataFrame(data_shirts)
df_shirts.to_csv("messy_data\shirts.csv", index=False)
df_shirts

    ShirtID   Color Size  StockQty  UnitPrice  Discount  ShopID
0         1  purple    L        50         85       0.4       5
1         2    blue    S        45          3       0.4       1
2         3   white    S        50          9       0.3       3
3         4     red   XL       494          1       0.4       2
4         5  purple    S        85          2       0.2       3
5         6    grey    S       449          2       0.1       3
6         7  orange   XL        50          5       0.2       3
7         8  purple    M        55          5       0.4       5
8         9   black    S        35          3       0.4       4
9        10  orange    M        65         57       0.3       1
10       11  orange    L        55         51       0.4       2
11       12  yellow  XXL        65          3       0.1       4
12       13  yellow    M        65          1       0.1       1
13       14   white    M        45          2       0.3       1
14       15     red    S        45         79       0.3       5
15       16   white    L       341         74       0.4       1
16       17    grey    L        25          7       0.4       5
17       18  purple   XL        30          4       0.4       4
18       19   black    M        35         90       0.3       4
19       20    grey    M        50          5       0.3       3
20       21    blue    M        45          7       0.4       1
21       22   brown  XXL        90          8       0.1       3
22       23   brown    M       465         66       0.3       1
23       24  yellow    L        20          4       0.2       5
24       25  yellow   XL        30         90       0.4       3
25       26  purple  XXL        55          7       0.2       4
26       27   black    L        30          2       0.3       1
27       28     red    L        65         10       0.2       1
28       29    grey  XXL        30         11       0.4       5
29       30   white  XXL        30          2       0.5       2
30       31    blue   XL       480          2       0.4       1
31       32    grey   XL        85          8       0.2       1
32       33   brown    S        85          5       0.3       4
33       34   white   XL        70          4       0.4       3
34       35    blue    L        80          7       0.5       1
35       36  yellow    S        20         11       0.4       4
36       37   brown   XL        75          5       0.2       5
37       38   black  XXL        80          9       0.4       2
38       39   brown    L        80          7       0.5       5
39       40     red  XXL        50          4       0.1       3
40       41  orange  XXL        20         75       0.2       4
41       42    blue  XXL        65          6       0.1       2
42       43  orange    S       359         10       0.3       4
43       44     red    M        85          5       0.2       3
44       45   black   XL        70          9       0.2       3

<div class="alert alert-info" role="alert">
  <span style="font-size: larger;"><strong>3. Generating invoice_details.csv</strong></span>
</div>

In [22]:
#function to compare whether 2 lists have all indentical elements without considering the order
def compare_lists(list1, list2):
    counter1 = Counter(list1)
    counter2 = Counter(list2)
    return counter1 == counter2

#read the product.csv and set-up 2 lists to check whether each InvoiceID is used
df_products = pd.read_csv("messy_data\shirts.csv")
all_invoices = [i+1 for i in range(1000)]
used_invoices = []

#generating the invoice details data
data_invoice_details = []
while not compare_lists(all_invoices, used_invoices):
    invoiceID = random.randint(1, 1000)
    productID = random.randint(1, df_products.shape[0])
    
    if invoiceID not in used_invoices:
        used_invoices.append(invoiceID)
    sellingPrice = df_products["UnitPrice"][productID-1] * (1 - df_products["Discount"][productID-1])
    quantity = random.randint(1, 5)
   
    data_invoice_details.append([invoiceID, productID, sellingPrice, quantity])
    
#create the data frame and export as csv    
df_invoice_details = pd.DataFrame(data_invoice_details, columns=["InvoiceID", "ShirtID", "SellingPrice", "Quantity"])
df_invoice_details.sort_values(by='InvoiceID', ascending=True, inplace=True)
df_invoice_details.to_csv("messy_data\invoice_details.csv", index=False)
df_invoice_details

       InvoiceID  ShirtID  SellingPrice  Quantity
9354           1       16          44.4         1
6703           1        2           1.8         3
186            1       33           3.5         1
3629           1       22           7.2         1
4436           1       33           3.5         1
...          ...      ...           ...       ...
4881        1000        9           1.8         3
10594       1000       15          55.3         5
6735        1000       28           8.0         4
6917        1000       31           1.2         1
6796        1000        8           3.0         5

[10801 rows x 4 columns]

<div class="alert alert-info" role="alert">
  <span style="font-size: larger;"><strong>4. Generating invoices.csv</strong></span>
</div>

In [23]:
#read invoice_details.csv for getting total amount for each invoice 
df_invoice_details = pd.read_csv("messy_data\invoice_details.csv")

#calculating the total amount for each invoice
df_invoices = pd.DataFrame()
df_invoices["InvoiceID"] = df_invoice_details["InvoiceID"]
df_invoices["TotalAmountForEachInv"] = df_invoice_details["SellingPrice"] * df_invoice_details["Quantity"]
df_invoices = df_invoices.groupby(["InvoiceID"]).agg(TotalAmount=("TotalAmountForEachInv","sum")).reset_index()

#generating the random dates between 2020-1-1 and today
end_date = datetime.date(2023, 9, 30)
start_date = datetime.date(2020, 1, 1)
days_diff = (end_date - start_date).days
df_invoices["InvoiceDate"] = [start_date + datetime.timedelta(random.randint(1, days_diff)) for i in range(1000)]

#generating random CusID and StaffID among those who are cashier
df_invoices["CusID"] = [random.randint(1, 1000) for i in range(1000)]

#rearrange the order of the columns and export as csv
df_invoices = df_invoices[["InvoiceID", "InvoiceDate", "TotalAmount", "CusID"]]
df_invoices.to_csv("messy_data\invoices.csv", index=False)
df_invoices

     InvoiceID InvoiceDate  TotalAmount  CusID
0            1  2022-03-14        545.8    871
1            2  2022-02-28        552.1    273
2            3  2020-10-01        270.3     18
3            4  2023-03-15        177.7    258
4            5  2022-01-16        411.1    386
..         ...         ...          ...    ...
995        996  2022-11-07        369.7    840
996        997  2023-01-04        107.2    526
997        998  2021-03-14        346.7    190
998        999  2021-09-02        504.1    670
999       1000  2022-06-02        508.8    713

[1000 rows x 4 columns]

<div class="alert alert-info" role="alert">
  <span style="font-size: larger;"><strong>5. Generating demands.csv</strong></span>
</div>

In [24]:
#read the invoices.csv and invoice_details.csv into DataFrames
df_invoices = pd.read_csv("messy_data\invoices.csv")
df_invoice_details = pd.read_csv("messy_data\invoice_details.csv")

#create the lists for the years and months based on our need 
year = [2020 for i in range(12)] + [2021 for i in range(12)] + [2022 for i in range(12)] + [2023 for i in range(9)]
month = list(range(1, 13)) * 3 + [1, 2, 3, 4, 5, 6, 7, 8, 9]

#find the total quantity sold for each month from the DataFrame
df = pd.merge(df_invoices, df_invoice_details, on="InvoiceID")
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"])
df["Year"] = df["InvoiceDate"].dt.year
df["Month"] = df["InvoiceDate"].dt.month
df = df.groupby(["Year", "Month"]).agg(Amount=("Quantity","sum")).reset_index()

#dictionary for demands data
data_demands = {
    'DemandID' : [str(year[i])+"-"+str(month[i]) for i in range (45)],
    'QuantitySold' : df["Amount"].to_list()
}

#create DataFrame and export to csv
df_demands = pd.DataFrame(data_demands)
df_demands.to_csv("messy_data\demands.csv", index=False)
df_demands

   DemandID  QuantitySold
0    2020-1           738
1    2020-2           622
2    2020-3           445
3    2020-4           829
4    2020-5           671
5    2020-6           522
6    2020-7           794
7    2020-8           707
8    2020-9           538
9   2020-10           588
10  2020-11           862
11  2020-12           953
12   2021-1           484
13   2021-2           814
14   2021-3           537
15   2021-4           651
16   2021-5           934
17   2021-6           810
18   2021-7           932
19   2021-8           975
20   2021-9           517
21  2021-10           821
22  2021-11           667
23  2021-12           684
24   2022-1           751
25   2022-2           556
26   2022-3           873
27   2022-4           680
28   2022-5           613
29   2022-6           958
30   2022-7           811
31   2022-8           611
32   2022-9           642
33  2022-10           896
34  2022-11           459
35  2022-12           957
36   2023-1           946
37   2023-2           637
38   2023-3           599
39   2023-4           807
40   2023-5           730
41   2023-6           546
42   2023-7           801
43   2023-8           640
44   2023-9           908

<div class="alert alert-info" role="alert">
  <span style="font-size: larger;"><strong>6. Generating imports.csv</strong></span>
</div>

In [25]:
#generate import data as a dictionary that countains lists as values
data_imports = {
    'ImportID' : [i+1 for i in range(16)],
    'ExpectedWaitingDays' : [6 for i in range(16)],
    'AcutalWaitingDays' : [6 + random.randint(-2, 3) for i in range(16)]
}
#generate import data as a dictionary that countains lists as values
data_imports = {
    'ImportID' : [i+1 for i in range(16)],
    'ExpectedWaitingDays' : [6 for i in range(16)],
    'AcutalWaitingDays' : [6 + random.randint(-2, 3) for i in range(16)]
}

#create DataFrame and export to csv
df_imports = pd.DataFrame(data_imports)
df_imports.to_csv("messy_data\imports.csv", index=False)
df_imports

    ImportID  ExpectedWaitingDays  AcutalWaitingDays
0          1                    6                  5
1          2                    6                  5
2          3                    6                  8
3          4                    6                  8
4          5                    6                  6
5          6                    6                  5
6          7                    6                  6
7          8                    6                  7
8          9                    6                  4
9         10                    6                  7
10        11                    6                  4
11        12                    6                  5
12        13                    6                  9
13        14                    6                  5
14        15                    6                  8
15        16                    6                  7

<div class="alert alert-info" role="alert">
  <span style="font-size: larger;"><strong>7. Generating shops.csv</strong></span>
</div>

In [26]:
#the list of all districts in Phnom Penh
phnom_penh_districts = ['Chamkar Mon','Dangkao','Daun Penh','Mean Chey','Prah Sihanouk','Russei Keo','Sen Sok','Tuol Kouk']

#dictionary of shops data
data_shops = {
    "ShopID" : [i+1 for i in range(5)],
    "Location" : [random.choice(phnom_penh_districts) for i in  range(5)]
}

#create DataFrame and export to csv
df_shops = pd.DataFrame(data_shops)
df_shops.to_csv("messy_data\shops.csv", index=False)
df_shops

   ShopID       Location
0       1      Mean Chey
1       2  Prah Sihanouk
2       3    Chamkar Mon
3       4     Russei Keo
4       5      Mean Chey

<div class="alert alert-info" role="alert">
  <span style="font-size: larger;"><strong>8. Generating imports.csv</strong></span>
</div>

In [27]:
#function to compare whether 2 lists have all indentical elements without considering the order
def compare_lists(list1, list2):
    counter1 = Counter(list1)
    counter2 = Counter(list2)
    return counter1 == counter2

#set-up 2 lists for checking whether each importID is used later on
all_importID = [i+1 for i in range(16)]
used_importID = []

#set-up 2 lists for checking whether each shirtID is used later on
all_shirtID = [i + 1 for i in range(df_shirts.shape[0] - 1)]
used_shirtID = []

#generating import details data while ensure that each importID and shirtID is used in the data
data_import_details = []
while not (compare_lists(all_importID, used_importID) and compare_lists(all_importID, used_importID)):
    importID = random.randint(1, 16)
    shirtID = random.randint(1, df_shirts.shape[0] - 1)
    
    if importID not in used_importID:
        used_importID.append(importID)
        
    if shirtID not in used_shirtID:
        used_shirtID.append(shirtID)

    end_date = datetime.date(2023, 9, 30) - datetime.timedelta(30)
    start_date = datetime.date(2019, 12, 1)
    days_diff = (end_date - start_date).days
    importPlacingDate = start_date + datetime.timedelta(random.randint(1, days_diff))
    data_import_details.append([importID, shirtID, importPlacingDate])

#create DataFrame and export to csv
df_import_details = pd.DataFrame(data_import_details, columns=["ImportID", "ShirtID", "ImportPlacingDate"])
df_import_details.sort_values(by='ImportID', ascending=True, inplace=True)
df_import_details.to_csv("messy_data\import_details.csv", index=False)
df_import_details

    ImportID  ShirtID ImportPlacingDate
47         1       25        2020-07-01
40         1        5        2022-01-17
13         1       29        2022-11-07
37         2       19        2023-02-05
6          2       41        2022-08-26
38         3       42        2020-01-31
34         3       44        2021-10-14
22         4       11        2023-03-06
42         4       39        2022-03-20
27         4       22        2020-11-26
10         4       35        2020-02-22
4          5       27        2021-10-28
48         5       12        2019-12-30
19         5       42        2023-06-30
12         5       36        2023-05-28
32         5        7        2022-07-31
11         6       22        2022-06-21
1          6       30        2021-12-13
0          7       35        2021-04-20
23         7       26        2020-09-20
21         7       34        2022-04-21
41         7       24        2021-04-26
16         7        5        2022-02-14
5          8       28        2022-02-06
20         8       11        2022-10-28
7          9       20        2023-08-19
2          9       28        2021-12-07
26         9       23        2023-08-27
29         9       21        2020-09-07
50        10       19        2020-10-15
31        11       30        2020-11-10
45        11       14        2021-07-28
24        11        4        2020-04-11
30        12       18        2023-05-03
3         12       10        2020-07-05
44        12       11        2021-01-02
14        12       44        2020-05-12
25        12        7        2020-07-10
36        12       10        2020-02-14
46        13       28        2023-03-13
15        13       14        2020-12-02
39        14       38        2021-07-07
9         14       39        2021-12-22
18        14       39        2023-03-24
33        15       16        2022-02-25
17        16       26        2021-02-20
28        16       27        2021-06-13
43        16       43        2020-12-15
35        16       29        2020-08-06
8         16       27        2022-03-19
49        16        9        2021-05-19