In [11]:
import random
import pandas as pd
import datetime
from collections import Counter

<div class="alert alert-info" role="alert">
  <span style="font-size: larger;"><strong>1. Generating customers.csv</strong></span>
</div>

In [12]:
#phone number heads with cites and provines list 
phone_number_heads = ["011","012","017","061","076","077","078","079","085","089","092","095","099",
                      "010","015","016","069","070","081","086","087","093","098","096","031","060",
                      "066","067","068","071","088","090","097","013","080","083","084","038","018"]
cities_and_provinces = ["Banteay Meanchey","Battambang","Kampong Cham","Kampong Chhnang","Kampong Speu",
                        "Kampong Thom","Kampot","Kandal","Koh Kong","Kratie","Mondulkiri","Oddar Meanchey",
                        "Pailin","Preah Sihanouk","Preah Vihear","Pursat","Ratanakiri","Siem Reap",
                        "Stung Treng","Svay Rieng","Takeo","Kep","Phnom Penh","Prey Veng","Tboung Khmum"]

#family names and surnames list
family_names = ['Heng','Kong','Lim','Mao','Ngoun','Ouk','Pich','Rath','Sam','Seng','Suon','Tang','Thach',
                'Thay','Theng','Thy','Tith','Toch','Tol','Ung','Vann','Vong','Yin','Yon','You','Yun','Kim',
                'Keo','Chea','Chhay','Chhim','Chan','Chuon']
sur_names = first_names = ['Sok','Dara','Srey','Sophea','Chan','Sokha','Sokhom','Thida','Rathana','Sokun',
                           'Nita','Rina','Chhun','Vanna','Sopheap','Sovann','Sovanna','Ravy','Sovan','Ratanak',
                           'Sreyneang','Visal','Sokchea','Narin','Rithy','Piseth','Bopha','Sreytouch','Monineath',
                           'Veasna','Chenda','Rina']

#generating the list of the phone numbers and the list of names
phoneNumber_list = []
for i in range(1000):
    phoneNumber = (random.choice(phone_number_heads) + " " + str(random.randint(1, 100)).zfill(3) + " " + str(random.randint(1, 100)).zfill(3))
    while phoneNumber in phoneNumber_list:
        phoneNumber = (random.choice(phone_number_heads) + " " + str(random.randint(1, 100)).zfill(3) + " " + str(random.randint(1, 100)).zfill(3))
    phoneNumber_list.append(phoneNumber)
    
customerName_list = []
for i in range(1000):
    name = random.choice(family_names) + " " + random.choice(sur_names)
    while name in customerName_list:
        name = random.choice(family_names) + " " + random.choice(sur_names)
    customerName_list.append(name)

#dictionary for customer data
data_customers = {
    "CusID": [i+1 for i in range (1000)],
    "CusName": customerName_list,
    "Gender": [random.choice(["M", "F"]) for i in range(1000)],
    "PhoneNumber": phoneNumber_list,
    "Address": [random.choice(cities_and_provinces) for i in range(1000)] 
}

#create dataFrame and export as csv
df_customers = pd.DataFrame(data_customers)
df_customers.to_csv("Generated_Data_Uniformed\customers.csv", index=False)
df_customers

     CusID         CusName Gender  PhoneNumber         Address
0        1       Toch Rina      F  093 017 076          Pursat
1        2     Keo Ratanak      M  017 091 048       Prey Veng
2        3     Chan Sokhom      M  087 086 064    Preah Vihear
3        4  Vong Monineath      M  060 024 018       Prey Veng
4        5        Tol Chan      M  011 050 018    Preah Vihear
..     ...             ...    ...          ...             ...
995    996     Ngoun Sovan      F  099 065 087    Kampong Thom
996    997     Tith Sophea      F  060 032 025  Oddar Meanchey
997    998        Tith Sok      F  087 087 085           Takeo
998    999       Heng Dara      F  099 015 090          Pursat
999   1000      Keo Chenda      F  015 092 080          Pursat

[1000 rows x 5 columns]

<div class="alert alert-info" role="alert">
  <span style="font-size: larger;"><strong>2. Generating shirts.csv</strong></span>
</div>

In [13]:
#all the colors and sizes list and find the the number of all the possible combination that we can make from the list
color_list = ["red", "blue", "black", "grey", "white", "purple", "brown", "orange", "yellow"]
size_list = ["S", "M", "L", "XL", "XXL"]
distinct_shirt = len(color_list) * len(size_list)

#generate the color and the size and ensure each one is unique combination for each shirt
colorAndSize_list = []
for i in range(distinct_shirt):
    color = random.choice(color_list)
    size = random.choice(size_list)
    while [color, size] in colorAndSize_list:
        color = random.choice(color_list)
        size = random.choice(size_list)
    colorAndSize_list.append([color, size])

#dictionary the shirts data
data_shirts = {
    "ShirtID" : [i+1 for i in range(distinct_shirt)],
    "Color" : [colorAndSize_list[i][0] for i in range(distinct_shirt)],
    "Size" : [colorAndSize_list[i][1] for i in range(distinct_shirt)],
    "StockQty": [random.randrange(20, 91, 5) for i in range(distinct_shirt)],
    "UnitPrice": [random.randint(1, 11) for i in range(distinct_shirt)],
    "Discount": [round(random.uniform(0.1, 0.5), 1) for i in range(distinct_shirt)],
    "ShopID" : [random.randint(1, 5) for i in range(distinct_shirt)]
}

#create DataFrame and export as csv
df_shirts = pd.DataFrame(data_shirts)
df_shirts.to_csv("Generated_Data_Uniformed\shirts.csv", index=False)
df_shirts

    ShirtID   Color Size  StockQty  UnitPrice  Discount  ShopID
0         1    blue    M        25          7       0.3       1
1         2  purple    S        75          9       0.2       1
2         3   brown    M        65          3       0.3       4
3         4  orange  XXL        55          6       0.5       1
4         5  orange    L        30         10       0.5       4
5         6  purple    L        60          6       0.4       1
6         7    blue   XL        85          7       0.1       5
7         8   brown  XXL        40          9       0.1       4
8         9  orange   XL        55          3       0.3       3
9        10  yellow   XL        90          2       0.2       1
10       11     red    L        80          2       0.1       5
11       12   black    L        45         11       0.4       2
12       13  orange    M        30          7       0.4       4
13       14   black    S        50          6       0.2       1
14       15  yellow  XXL        20          2       0.3       4
15       16   black    M        20          6       0.2       4
16       17    grey   XL        60          2       0.3       3
17       18  yellow    L        50          6       0.5       4
18       19   brown    S        20          7       0.2       2
19       20   white  XXL        75          3       0.4       2
20       21   brown    L        55          4       0.2       1
21       22   black   XL        60          5       0.4       3
22       23  orange    S        80         11       0.3       3
23       24   brown   XL        45          1       0.1       5
24       25     red    S        85          5       0.5       4
25       26    grey    S        65          3       0.3       4
26       27   white   XL        25          8       0.3       3
27       28    blue    S        20          9       0.2       3
28       29    grey    M        40          2       0.2       3
29       30    blue  XXL        85          9       0.4       5
30       31   white    S        30          5       0.5       4
31       32   white    L        80          5       0.4       2
32       33  purple  XXL        65          1       0.1       3
33       34  yellow    S        85          6       0.5       1
34       35     red  XXL        75          6       0.5       1
35       36     red   XL        85          8       0.4       3
36       37   white    M        50          7       0.3       3
37       38  purple    M        85         10       0.2       2
38       39    grey    L        25          4       0.5       2
39       40    blue    L        30         10       0.3       4
40       41  yellow    M        35          5       0.5       1
41       42  purple   XL        40          3       0.1       2
42       43   black  XXL        65          4       0.3       5
43       44    grey  XXL        20          4       0.1       5
44       45     red    M        85          3       0.2       3

<div class="alert alert-info" role="alert">
  <span style="font-size: larger;"><strong>3. Generating invoice_details.csv</strong></span>
</div>

In [14]:
#function to compare whether 2 lists have all indentical elements without considering the order
def compare_lists(list1, list2):
    counter1 = Counter(list1)
    counter2 = Counter(list2)
    return counter1 == counter2

#read the product.csv and set-up 2 lists to check whether each InvoiceID is used
df_products = pd.read_csv("Generated_Data_Uniformed\shirts.csv")
all_invoices = [i+1 for i in range(1000)]
used_invoices = []

#generating the invoice details data
data_invoice_details = []
while not compare_lists(all_invoices, used_invoices):
    invoiceID = random.randint(1, 1000)
    productID = random.randint(1, 45)
    
    if invoiceID not in used_invoices:
        used_invoices.append(invoiceID)
    sellingPrice = df_products["UnitPrice"][productID-1] * (1 - df_products["Discount"][productID-1])
    quantity = random.randint(1, 5)
    data_invoice_details.append([invoiceID, productID, sellingPrice, quantity])
    
#create the data frame and export as csv    
df_invoice_details = pd.DataFrame(data_invoice_details, columns=["InvoiceID", "ShirtID", "SellingPrice", "Quantity"])
df_invoice_details.sort_values(by='InvoiceID', ascending=True, inplace=True)
df_invoice_details.to_csv("Generated_Data_Uniformed\invoice_details.csv", index=False)
df_invoice_details

      InvoiceID  ShirtID  SellingPrice  Quantity
6622          1        5           5.0         5
449           1        8           8.1         4
3921          1       14           4.8         3
8564          1       18           3.0         5
4528          1       28           7.2         3
...         ...      ...           ...       ...
349        1000       35           3.0         3
6996       1000       25           2.5         1
7460       1000       14           4.8         2
6476       1000       41           2.5         2
630        1000       11           1.8         5

[9594 rows x 4 columns]

<div class="alert alert-info" role="alert">
  <span style="font-size: larger;"><strong>4. Generating invoices.csv</strong></span>
</div>

In [15]:
#read invoice_details.csv for getting total amount for each invoice 
df_invoice_details = pd.read_csv("Generated_Data_Uniformed\invoice_details.csv")

#calculating the total amount for each invoice
df_invoices = pd.DataFrame()
df_invoices["InvoiceID"] = df_invoice_details["InvoiceID"]
df_invoices["TotalAmountForEachInv"] = df_invoice_details["SellingPrice"] * df_invoice_details["Quantity"]
df_invoices = df_invoices.groupby(["InvoiceID"]).agg(TotalAmount=("TotalAmountForEachInv","sum")).reset_index()

#generating the random dates between 2020-1-1 and today
end_date = datetime.date(2023, 9, 30)
start_date = datetime.date(2020, 1, 1)
days_diff = (end_date - start_date).days
df_invoices["InvoiceDate"] = [start_date + datetime.timedelta(random.randint(1, days_diff)) for i in range(1000)]

#generating random CusID and StaffID among those who are cashier
df_invoices["CusID"] = [random.randint(1, 1000) for i in range(1000)]

#rearrange the order of the columns and export as csv
df_invoices = df_invoices[["InvoiceID", "InvoiceDate", "TotalAmount", "CusID"]]
df_invoices.to_csv("Generated_Data_Uniformed\invoices.csv", index=False)
df_invoices

     InvoiceID InvoiceDate  TotalAmount  CusID
0            1  2022-11-15        177.2    519
1            2  2021-08-03        125.0    972
2            3  2022-07-11         90.4    826
3            4  2022-11-18         93.0    914
4            5  2022-06-12         60.8    393
..         ...         ...          ...    ...
995        996  2020-04-26         35.7    935
996        997  2022-11-10        107.7    454
997        998  2021-08-12         96.3    333
998        999  2022-08-05        115.0    368
999       1000  2022-04-14        117.4    118

[1000 rows x 4 columns]

<div class="alert alert-info" role="alert">
  <span style="font-size: larger;"><strong>5. Generating demands.csv</strong></span>
</div>

In [16]:
#read the invoices.csv and invoice_details.csv into DataFrames
df_invoices = pd.read_csv("Generated_Data_Uniformed\invoices.csv")
df_invoice_details = pd.read_csv("Generated_Data_Uniformed\invoice_details.csv")

#create the lists for the years and months based on our need 
year = [2020 for i in range(12)] + [2021 for i in range(12)] + [2022 for i in range(12)] + [2023 for i in range(9)]
month = list(range(1, 13)) * 3 + [1, 2, 3, 4, 5, 6, 7, 8, 9]

#find the total quantity sold for each month from the DataFrame
df = pd.merge(df_invoices, df_invoice_details, on="InvoiceID")
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"])
df["Year"] = df["InvoiceDate"].dt.year
df["Month"] = df["InvoiceDate"].dt.month
df = df.groupby(["Year", "Month"]).agg(Amount=("Quantity","sum")).reset_index()

#dictionary for demands data
data_demands = {
    'DemandID' : [str(year[i])+"-"+str(month[i]) for i in range (45)],
    'QuantitySold' : df["Amount"].to_list()
}

#create DataFrame and export to csv
df_demands = pd.DataFrame(data_demands)
df_demands.to_csv("Generated_Data_Uniformed\demands.csv", index=False)
df_demands

   DemandID  QuantitySold
0    2020-1           773
1    2020-2           619
2    2020-3           777
3    2020-4           663
4    2020-5           494
5    2020-6           334
6    2020-7           708
7    2020-8           512
8    2020-9           487
9   2020-10           544
10  2020-11           495
11  2020-12           766
12   2021-1           707
13   2021-2           635
14   2021-3           476
15   2021-4           629
16   2021-5           670
17   2021-6           730
18   2021-7           603
19   2021-8           885
20   2021-9           611
21  2021-10           544
22  2021-11           609
23  2021-12           642
24   2022-1           468
25   2022-2           563
26   2022-3           719
27   2022-4           683
28   2022-5           424
29   2022-6           606
30   2022-7           627
31   2022-8           532
32   2022-9           763
33  2022-10           547
34  2022-11           885
35  2022-12           714
36   2023-1           612
37   2023-2           692
38   2023-3           664
39   2023-4           779
40   2023-5           583
41   2023-6           487
42   2023-7           912
43   2023-8           897
44   2023-9           652

<div class="alert alert-info" role="alert">
  <span style="font-size: larger;"><strong>6. Generating imports.csv</strong></span>
</div>

In [17]:
end_date = datetime.date.today() - datetime.timedelta(30)
start_date = datetime.date(2019, 12, 1)
days_diff = (end_date - start_date).days

#generate import data as a dictionary that countains lists as values
data_imports = {
    'ImportID' : [i+1 for i in range(16)],
    'ExpectedWaitingDays' : [6 for i in range(16)],
    'AcutalWaitingDays' : [6 + random.randint(-2, 3) for i in range(16)],
    'ImportPlacingDate' : [start_date + datetime.timedelta(random.randint(1, days_diff)) for i in range(16)]
}

#create DataFrame and export to csv
df_imports = pd.DataFrame(data_imports)
df_imports.sort_values(by='ImportPlacingDate', inplace=True)
df_imports['ImportID'] = range(1, len(df_imports) + 1)
df_imports.to_csv("Generated_Data_Uniformed\imports.csv", index=False)
df_imports

    ImportID  ExpectedWaitingDays  AcutalWaitingDays ImportPlacingDate
3          1                    6                  8        2020-05-24
13         2                    6                  6        2020-08-19
10         3                    6                  8        2020-11-02
6          4                    6                  8        2022-04-05
5          5                    6                  7        2022-04-12
9          6                    6                  9        2022-05-20
8          7                    6                  8        2022-06-16
7          8                    6                  5        2022-10-04
14         9                    6                  6        2022-10-07
15        10                    6                  7        2022-10-30
12        11                    6                  7        2022-11-18
11        12                    6                  4        2022-12-30
4         13                    6                  6        2023-03-15
1         14                    6                  5        2023-04-30
2         15                    6                  9        2023-05-08
0         16                    6                  7        2023-06-13

<div class="alert alert-info" role="alert">
  <span style="font-size: larger;"><strong>7. Generating shops.csv</strong></span>
</div>

In [18]:
#the list of all districts in Phnom Penh
phnom_penh_districts = ['Chamkar Mon','Dangkao','Daun Penh','Mean Chey','Prah Sihanouk','Russei Keo','Sen Sok','Tuol Kouk']

#dictionary of shops data
data_shops = {
    "ShopID" : [i+1 for i in range(5)],
    "Location" : [random.choice(phnom_penh_districts) for i in  range(5)]
}

#create DataFrame and export to csv
df_shops = pd.DataFrame(data_shops)
df_shops.to_csv("Generated_Data_Uniformed\shops.csv", index=False)
df_shops

   ShopID     Location
0       1  Chamkar Mon
1       2      Dangkao
2       3    Daun Penh
3       4      Dangkao
4       5   Russei Keo

<div class="alert alert-info" role="alert">
  <span style="font-size: larger;"><strong>8. Generating import_details.csv</strong></span>
</div>

In [19]:
#function to compare whether 2 lists have all indentical elements without considering the order
def compare_lists(list1, list2):
    counter1 = Counter(list1)
    counter2 = Counter(list2)
    return counter1 == counter2

#set-up 2 lists for checking whether each importID is used later on
all_importID = [i+1 for i in range(16)]
used_importID = []

#set-up 2 lists for checking whether each shirtID is used later on
all_shirtID = [i+1 for i in range(45)]
used_shirtID = []

#generating import details data while ensure that each importID and shirtID is used in the data
data_import_details = []
while not (compare_lists(all_importID, used_importID) and compare_lists(all_importID, used_importID)):
    importID = random.randint(1, 16)
    shirtID = random.randint(1, 45)
    
    if importID not in used_importID:
        used_importID.append(importID)
        
    if shirtID not in used_shirtID:
        used_shirtID.append(shirtID)

    end_date = datetime.date(2023, 9, 30) - datetime.timedelta(30)
    start_date = datetime.date(2019, 12, 1)
    days_diff = (end_date - start_date).days
    importPlacingDate = start_date + datetime.timedelta(random.randint(1, days_diff))
    data_import_details.append([importID, shirtID, importPlacingDate])

#create DataFrame and export to csv
df_import_details = pd.DataFrame(data_import_details, columns=["ImportID", "ShirtID", "ImportPlacingDate"])
df_import_details.sort_values(by='ImportID', ascending=True, inplace=True)
df_import_details.to_csv("Generated_Data_Uniformed\import_details.csv", index=False)
df_import_details

    ImportID  ShirtID ImportPlacingDate
14         1       37        2020-09-02
11         1       38        2019-12-25
28         1       19        2021-03-21
23         2       19        2022-07-19
12         2       19        2021-11-13
9          2       10        2021-12-19
15         3       29        2023-05-03
29         4        9        2023-06-25
26         5       19        2023-01-27
21         5       22        2022-04-10
39         6       10        2020-05-28
32         7       32        2021-07-03
38         8        6        2023-02-21
4          8        8        2021-04-15
8          9       19        2021-06-20
33         9       32        2020-08-10
17         9       10        2020-11-13
7          9       35        2022-01-24
27        10       44        2020-07-26
5         10       14        2023-01-10
24        10       26        2020-07-18
2         11       30        2020-07-05
34        11        5        2022-09-26
35        12       37        2021-06-30
20        12       12        2023-05-26
31        12        6        2020-05-04
10        13       32        2020-08-15
13        13       36        2021-07-07
36        13       31        2022-10-26
0         14       18        2023-08-29
18        14        9        2023-03-02
19        14        4        2021-05-25
30        15        9        2022-01-18
22        15       10        2022-08-29
16        15       24        2021-02-17
3         15       40        2021-08-15
1         15        8        2021-07-20
37        15       36        2023-07-12
6         16       45        2020-06-18
25        16       28        2022-11-07